<li class="post-item">
    <time class="post-date" datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: "%Y-%m-%d" }}</time>
    <div class="post-item-body">
        <h3 class="post-item-title">
            <a href="{{ include.post.url | relative_url }}">{{ include.post.title | escape }}</a>
        </h3>
        <p class="post-excerpt">{{ include.post.content | strip_html | escape | truncate: 180 }}</p>
        {%- if include.post.tags -%}
        <ul class="tag-row" aria-label="Tags">
            {%- for tag in include.post.tags -%}
            <li><a class="tag" href="/tags/#{{ tag }}">{{ tag | downcase }}</a></li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
</li>
